.display_section {
  max-width: 1023px;
  margin: 0 auto;
}
.droplist {
  margin: 40px 0;
}
.droplist.superRadius {
  border-radius: 1rem;
}
.dp_Header {
  color: var(--white);
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 18px;
  border-radius: 5px;
}
h3 {
  font-size: 24px;
  font-weight: 500;
}
.droplist .dd {
  color: var(--main);
  font-size: 24px;
  font-weight: 400;
  background-color: var(--grey);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  padding: 36px 18px 19px 18px;
}

@media screen and (max-width: 430px) {
  .droplist {
    margin: 20px 0 0 0;
  }
  h3 {
    font-size: 13px;
  }
  .dp_Header {
    height: 30px;
  }
  .dp_Header {
    height: 30px;
  }
  .dp_Header img {
    width: 15px;
    height: 9px;
  }
  .droplist p {
    font-size: 12px;
    padding: 23px 7px 50px 11px;
  }
}
