.error404 {
  font-size: 288px;
  font-weight: 700;
}
.section_error {
  text-align: center;
  padding: 100px;
  color: var(--main);
}
.section_error p {
  font-size: 36px;
  margin-bottom: 200px;
}
.homeLink {
  font-size: 36px;
  text-decoration: underline;
}
@media screen and (max-width: 430px) {
  .error404 {
    font-size: 96px;
  }
  .section_error p {
    font-size: 18px;
    margin: 10px 0 100px 0;
  }
  .homeLink {
    font-size: 14px;
  }
  .section_error {
    padding: 100px 0 50px 0;
  }
}
