h4,
h5,
h6 {
  color: var(--main);
  margin: 0;
}

h4 {
  font-size: 36px;
}
h5 {
  padding-left: 200px;
  padding-right: 15px;
  text-align: right;
}

h5,
h6 {
  font-size: 18px;
  padding-right: 10px;
}
.listingDropDown {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(2, 1fr);
}
.accomodationDetails {
  margin: 50px 0 0 0;
  justify-content: space-between;
  display: flex;
}
.accomodationDetails img {
  object-fit: cover;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.tagsSection {
  display: flex;
}
.hostListing {
  display: flex;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
